* {
  margin: 0%;
  padding: 0%;
}
body {
  margin: 0%;
  padding: 0%;
}
#main {
  position: absolute;
  top: 35%;
  left: 4%;
  color: aliceblue;
  line-height: 160px;
}
#companyName {
  font-size: 90px;
}
#quotes {
  font-size: 30px;
  line-height: 50px;
  opacity: 50%;
}
input {
  height: 50px;
  width: 350px;
  font-size: 20px;
  background-color: transparent;
  color: aliceblue;
  border: 1px solid gray;
  border-radius: 5px;
  text-indent: 10%;
}
input::placeholder {
  color: aliceblue;
  opacity: 30%;
}
input:focus {
  transition: 0.3s;
  border: 5px solid transparent;
}
#submit {
  width: 100px;
  position: relative;
  left: 25px;
  background-color: #1cb495;
  text-transform: capitalize;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}
#submit:hover {
  background-color: transparent;
  transition: 1000ms;
  border: 2px solid aliceblue;
}
#background {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 99%;
  animation: animate 18s ease-in-out infinite;
  background-size: cover;
}
@keyframes animate {
  0%,
  100% {
    background-image: url(images/one.jpg);
  }
  50% {
    background-image: url(images/two.jpg);
  }
  75% {
    background-image: url(images/three.jpg);
  }
}
#logo {
  display: flex;
  column-gap: 30px;
}
img {
  height: 30px;
  width: 30px;
}
img:hover {
  transform: scale(1.1, 1.1);
  transition: 500ms;
  opacity: 30%;
}
#footer {
  position: absolute;
  top: 85vh;
  left: 4%;
  color: aliceblue;
  opacity: 50%;
}
#footer:hover {
  opacity: 100%;
  transition: 1000ms;
}
#thanks{
  position: absolute;
  top: 62%;
  left: 66%;
  color: #1cb495;
  font-size: 22px;
  font-weight: bolder;
  font-style: oblique;

}
#noThanks{
  position: absolute;
  top: 62%;
  left: 66%;
  color: #ff0000;
  font-size: 22px;
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}