* {
  padding: 0%;
  margin: 0%;
}
body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100vw;
  /* background-image: url(""); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* background: fixed; */
  animation: animate 10s ease-in-out infinite;
}
/* Animation */
@keyframes animate {
  0%,
  100% {
    background-image: url(images/1jpg);
  }
  25% {
    background-image: url(images/2.jpg);
  }
  75% {
    background-image: url(images/3.jpg);
  }
}
/* Positioning and Color */
#companyName {
  font-size: clamp(48px, 7vw, 80px);
  color: aliceblue;
  padding-bottom: 40px;
}
#quotes {
  font-size: clamp(14px, 3vw, 30px);
  color: gray;
  padding-bottom: 45px;
}
#footer {
  color: aliceblue;
}
#main {
  position: relative;
  top: 40%;
  left: 4%;
}
#quotes {
  line-height: 1.5em;
}
#footer {
  position: relative;
  top: 50%;
  left: 4%;
  opacity: 30%;
}
#footer:hover {
  opacity: 100%;
  transition: 1s;
}
input {
  height: 50px;
  width: 350px;
  background-color: transparent;
  color: aliceblue;
  border: 1px solid gray;
  border-radius: 5px;
  /* border-style: none; */
}
#email {
  text-indent: 1cm;
  font-weight: bolder;
  font-size: 18px;
}
#submit {
  /* height: 50px; */
  width: 100px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  background-color: #1fcaa7;
  text-transform: capitalize;
  cursor: pointer;
}
#submit:hover{
  background-color: transparent;
  transition: 1s;
}
#footer{
  height: auto;
  width: 300px;
}
form {
  display: flex;
  gap: 40px;
}
img{  
  height: 40%;
  width: 40px;
  padding-right: 20px;
}
img:hover{
  transform: scale(0.9,0.9);
  transition: 500ms;
  opacity: 30%;
}
#thanks{
  color: #1fcaa7;
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
  top: 15px;
  right: 15px;
  position: relative;
}